
body {
    padding-top: 20px; 
}

.btn {
    margin-bottom: 15px; 
}

.container {
    border-radius: 8px; 
    max-width: 960px; 
    margin: auto;
}

.little-container {
    width: 50%; 
    max-width: 600px; 
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 5px auto;
}

.fileContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
}

.fileContainer [type=file] {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

td {
    text-align: center;
    vertical-align: middle; 
}

.formularioJogo {
    display: flex;
    flex-wrap: wrap; 
}

.formularioImagem {
    margin-right: 20px; 
}

.buttons {
    margin-top: 20px; 
}

.inputBox {
    max-width: 700px; 
    margin-bottom: 1em;
}

.inputsJogo {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}
